{% extends 'layout/base.html' %}
{% block "title" %} Contactos {% endblock "title" %}
{% block "content" %}
    <h1>Contactos</h1>
    {% include "contact/partials/search.html" %}

    <span class="btn">
        <a href="{%url 'contact_create'%}"> Crear</a>
    </span>
    {% include "contact/partials/by_initial.html" %}

    <ul class="lista">

   
        {% for i in contact %}
        <li>{{i.name}} 
            <span>
                <a href="{% url 'contact_delete' id=i.id %}" class="btn btn-dlt">Borrar</a>
                <a href="{% url 'contact_edit' id=i.id %}" class="btn btn-edt">Editar</a>
                <a href="{% url 'contact_view' id=i.id %}" class="btn btn-ver">Visualizar</a>
            </span> </li>
        {% endfor %}
    </ul>
{% endblock "content" %}